// navbarr

.navbar {
    background-color: rgba($black, $alpha: 0.2);

}

.nav-item-border {
    border-right: 1px solid rgba($white, $alpha: 0.3);

}

li.nav-item:hover {
    background-color: $white;
}


.hero li.nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
}



// hero banner


.hero {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: bottom 35% center;

}

.banner_text {
    top: 40%
}

.btn_hero {
    width: 30%;


}

.arrow {
    width: 40px;
    height: auto;
}



// media

@include media-breakpoint-down(xl) {


    .btn_hero {
        width: 40%;

    }

}

@include media-breakpoint-down(lg) {


    .btn_hero {
        width: 45%;

    }

}

@include media-breakpoint-down(md) {
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 1;

    }

    .nav-item-border {
        border-right: 0px;

    }

    .hero li.nav-item {
        padding-left: 15px;

    }


    .btn_hero {
        width: 80%;
        margin: 0 auto !important;
    }

}