$font-family-base: 'Roboto';
$primary: #FADC62;
$secondary: #ECCE5E;
$body-bg: #FADC62;
$navbar-dark-color:white;
$navbar-dark-hover-color: black;


$navbar-padding-y: 0;

$display-font-sizes: (1: 6.5rem,
    2: 3rem);